.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 0px 50px 0px 50px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer
{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512dab;
}
.card-header {
    
    padding: .70rem 1.00rem;
    margin-bottom: 0;
    background-color: rgb(255,215,0);
    border-bottom: 1px solid rgba(0,0,0,.8);
    color: #512dab;
}

.button {
    background-color: #dfc010; 
    border: none;
    color: BLACK;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
   display: inline-block;
    font-size: 12px bold;
    text-emphasis-style: 10px;
    margin: 0px;
    cursor: pointer;
  }
  .tab-content {
      border-left: 1px #dddddd;
      border-right: 1px #dddddd;
      border: 1px #dddddd;
      padding: 10px;


  }